{% extends 'admin/master.html' %}
{% block head %}
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/static/css/eb.css" rel="stylesheet">
  <!--JS-->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/mediaelement/build/jquery.js"></script>
<script src="/static/js/mediaelement/build/mediaelement-and-player.min.js"></script>
<link href="/static/js/mediaelement/build/mediaelementplayer.min.css" rel="Stylesheet">
<script src="/static/js/jquery.hoverIntent.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock head %}

{% block body %}
{{ super() }}
{{results}}
<form action="" method="post" name="submit_ep" enctype=multipart/form-data>
    {{ form.hidden_tag() }}
    <p>Title: {{ form.title(size=80) }}
    <span style="color: red;">{{ form.title.errors[0] }}</span></p>
    <p>{{ form.publish_now }} Publish Now? <br>
        <span id="publish_date"> Publish Date: {{ form.date }}
        <span style="color: red;">{% for error in form.date.errors %}{{error}}{%endfor%}</span></span>
    </p>

    <p>{{ form.audio_upload_option }} Upload Audio to Server?
        <span style="color: red;">{% for error in form.audio_upload_option.errors %}{{error}}{%endfor%}</span><br>
        <span id="audio_location_inputs">Audio File Location: {{ form.audio_file_location }}</span>
        <span id="audio_upload_inputs">Upload Audio File: {{ form.audio_upload }}</span>
    </p>

    <p> {{ form.image_upload_option }} Upload an Image Instead?<br>
        <span id="image_upload_inputs">Upload Image: {{ form.image_upload }}</span>
        <span id="image_location_inputs">Image Location: {{ form.image }}
            <br>
            <span id="pic_suggestions"></span>
        </span>
    </p>

    <p>Notes (HTML or Markdown):
        <br>{{ form.notes(rows=10,style="width: 500px;") }}</p>
    <p><table class = "ep_music">
    <tr>
        <td>Music Artist:</td><td>Music Song:</td><td>Music Website:</td><td class="btn" id="more_music">More</td>
    </tr>
    <tr id="music_inputs_blammos">
        <td>{{ form.music_artist(size=80, value='BLAMMOS') }}</td><td>{{ form.music_song(size=80, value='How Do You Know?') }}</td><td>{{ form.music_website(size=80, value='blammos.bandcamp.com') }}</td>
    </tr>
    <tr id="music_inputs">
        <td>{{ form.music_artist(size=80) }}</td><td>{{ form.music_song(size=80) }}</td><td>{{ form.music_website(size=80) }}</td>
    </tr>
    </table></p>
    <p><input type="submit" value="Submit" formmethod="post"></p>
  </form>


<script>
//Select pictures when available
function make_pics_clickable(){
    $(".wikipic").click(function(){
        $("#image").val(this.getAttribute('src'));
        $(".wikipic").css({opacity: 0.6});
        $(this).css({opacity: 1})
    });
};
</script>

<script>
$(document).ready(function(){
    //hide appropriate elements at inital page load
    if ($("#publish_now").is(":checked")){
        $("#publish_date").hide();
    }
    if ($("#audio_upload_option").is(":checked")){
        $("#audio_location_inputs").hide();
    }
    else{
        $("#audio_upload_inputs").hide();
    }
    if ($("#image_upload_option").is(":checked")){
        $("#image_location_inputs").hide();
    }
    else{
        $("#image_upload_inputs").hide();
    }

    //handle hiding and showing elements for checkboxes
    $("#publish_now").click(function(){
        if ($(this).is(":checked")){
           $("#publish_date").slideUp();
        }
        else{
            $("#publish_date").slideDown();
        }
    });

    $("#audio_upload_option").click(function(){
        if ($(this).is(":checked")){
           $("#audio_location_inputs").hide();
           $("#audio_upload_inputs").show();
        }
        else{
           $("#audio_location_inputs").show();
           $("#audio_upload_inputs").hide();
        }
    });

    $("#image_upload_option").click(function(){
        if ($(this).is(":checked")){
           $("#image_location_inputs").hide();
           $("#image_upload_inputs").show();
        }
        else{
           $("#image_location_inputs").show();
           $("#image_upload_inputs").hide();
        }
    });

    //Add more fields for music insertion
    $("#more_music").click(function(){
        $("#music_inputs").clone().appendTo(".ep_music");
    });

    //Load pictures from wikipedia when typing into Title input
    $("#title").change(function(){
        $("#pic_suggestions").html("<hr>Loading Image Suggestions...<hr>");
        $("#pic_suggestions").load( encodeURIComponent("picsuggest/" + document.getElementById("title").value) , make_pics_clickable);
    });

});
</script>

{% endblock body %}

<!-- Still need to add:
A way to upload the show, then have it automatically submit to InternetArchive and note the URL, plus fill in Title info-->