{% extends 'layout.html' %}
{% block content %}
<dir class='banner'>
<img src='/static/img/Bio Pic.jpg'>Tim and Kathryn are not married. They are good friends, and this photo was taken on that day when nice clothes became sentient and attacked everyone.</img>
</dir>
<br>
<p>Every
episode of <em>Encyclopedia Brunch</em> is an
entry from a tome of knowledge a little too buzzed on its bloody mary to be of
any reliable help. It is not here to offer you a way of making sense of your
life. Not that that's necessarily what you were looking for. But we'll come
back to this.</p>

<p>Really, the intent was just to have someplace we could talk for a little while every
week. We needed a little cafe we could duck into to catch up with each other,
but we also needed a spotlight shining on our very needy personalities at all
times. So we asked ourselves what we could offer in the over-saturated podcast
landscape. It's a troubling question, and I recommend anyone looking to
diminish their self-confidence ask it of themselves. Alternately, <em>What Would Your Podcast Be About?</em> could be a fun party game.</p>

<p>I'm getting distracted. Here we are in the third paragraph and you still don't know
what the podcast is about. This fact, I hope, at least approximates the feeling
of listening to the show. Kathryn and Tim are both chemical engineers, fumbling
socialites, and pop culture absorbing machines. The show, then, exists in this
Venn Diagram. Each week we pick a topic and see where a half-hour chat about it
gets us.</p>

<p>Which brings us back to meaning: <em>Encyclopedia Brunch</em> is not
intended to be informational, but it does have a lot of information in it
(we're fast talkers). Additionally, the author is dead, so our intentions don't
really matter anyway. What we're proposing here, really, is that we'll do
our best to make a show that's fun for you to listen to, and you tell us if you
got anything out of it. Deal?</p>

<p>Great! We'll see you out there.</p>
{% endblock %}