{% extends 'layout.html' %}
{% block content %}

{% for post in posts %}
<div class='post'>
	<div class='post-topper'>
		{% if post.image %}
		<div class='post-image' style='text-align:center'>
			<img src="{{post.image}}" alt="{{post.title}}">
		</div>
		{% endif %}
		<div class='post-header'>
			<a href="/posts/{{post.date.year}}/{{post.date.month}}/{{post.date.day}}/{{post.title.replace(' ','_')}}">{{post.title}}</a>
		</div>
	</div>
	<div class = 'post-body'>
		{{post.html_notes|safe}}
	</div>
	{% if post.audio_file_location %}
	<div class = 'audio-player'>
		<audio src={{post.audio_file_location}} preload='none' type='audio/mp3' style='width:100%'>
		</audio>
		<div class='download-link'>
			<a href={{post.audio_file_location}}>download mp3</a>
		</div>
	</div>
	{% endif %}
	<div class = 'row post-footer'>
		<div class = 'span6'>
			{%if post.music %}
			Music by: | {% for music in post.music %} <a href='{{music.website}}'>{{music.artist}}</a> | {% endfor %}
			{% endif %}
		</div>
		<div class = 'faded-text span2'>
			<div name = 'post_date' style='float:right'>{{post.date}}+0000</div>
		</div>
	</div>
	<hr>
</div>
{% endfor %}

<!--Displays page options. Shows first two pages, last two pages, and current page +-1 if not one first or last page. All other pages are show as dots-->
{% if current_page %}
<div class='post' style='text-align:center'>
	Page:
	{% if current_page != 1 %}
		<a href='/posts?page=1'> 1 </a>
	{% else %}
		1
	{% endif %}
	{% for number in range(2,numpages+1) %}
		{% if number < 3 or number in range(current_page - 1, current_page + 2) or number > numpages - 2 %}
			| 
			{% if number == current_page %}
				 {{number}}
			{% else %}
				<a href='/posts?page={{number}}'> {{number}} </a>
			{% endif %}
		{% else %}
			{% if number == 3 or number == current_page + 2 %} | {%endif%}
			<a href='/posts?page={{number}}' class = 'link_dot'>.</a>
		{% endif %}
	{% endfor %}
</div>
{% endif %}

<!--Converts server date for posts to local date-->
<script>
function utc_to_local(date) {
    var time_string_utc = date; // timestamp from db
	var time_string_utc_epoch = Date.parse(time_string_utc);
	var time_local = new Date();
	time_local.setTime(time_string_utc_epoch);
    return time_local.getFullYear() + '-' + (time_local.getMonth()+1) + '-' + time_local.getDate()
}
for (i = 0; i < document.getElementsByName("post_date").length; i++) {
    document.getElementsByName("post_date")[i].innerHTML = utc_to_local(document.getElementsByName("post_date")[i].innerHTML);
}
</script>

<!--When mouse hovers over a dot representing a page, dot turns into that number. There is a delay in changing back ("timeout") to avoid jerkiness-->
<script>
$( function() {
  var num;
  $(".link_dot").hoverIntent({
  interval: 10,
  timeout: 200,
  sensitivty: 7,
  over: function () {
      num=$(this).attr('href').split('=')[1];
     $(this).text(num);
    },
	out: function () {
	 $(this).text('. ');
    }
  });
});
</script>

{% endblock %}